header {
	text-align: center;
	color: white;
}

body {
	/*margin: 0 auto;*/
	color: white
	background-size: cover;
	background: rgba(135,21,15,1);
	background: linear-gradient(bottom, rgba(135,21,15,1). rgba(205,135,131,.5));
	background: -webkit-linear-gradient(bottom, rgba(135,21,15,1), rgba(205,135,131,.5));
	background: -moz-linear-gradient(bottom, rgba(135,21,15,1), rgba(205,135,131,.5));
/*	width: 560px;
	float: left;*/
}

footer {
	clear: both;
	font-family: 'Londrina Sketch', cursive;
	font-size: 70px;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.5);
}

nav{
	font-family: 'Londrina Sketch', cursive;
    background: rgba(255,0,0,0.25);
    font-weight: bolder;
    /*padding: .75px;*/
}

/*aside {

	width: 240px;
	float: right;
}
*/
h1 {
	color: red;
	text-align: center;
/*	text-transform: uppercase;*/
	font-size: 100px;
	/*font-family: 'Londrina Sketch', cursive;*/
	/*font-weight: bolder;*/
}

h2 {
	/*text-align: center;*/
	/*font-family: 'Londrina Sketch', cursive;*/
	color: white;
	/*text-transform: uppercase;*/
	font-size: 50px;
}
h1, h2 {

	font-family: 'Londrina Sketch', cursive;
	text-transform: uppercase;
	font-weight: bolder;

}

a {
	background: rgba(255,0,0,0.5);
	color: black;
	text-align: center;
	/*background: white;*/
	display: inline-block;
	font-size: 35px;

}
a:hover {
	background: rgba(255,255,255,0.75);
/*	padding: 0.75px;*/
}

/*p {

	width: 560px;
	float: left;
}*/

p{
	font-size: 17px;
    line-height: 17px;
}

article {
     max-width: 900px;
     /*padding: 10px;*/
     /*margin: 0 auto;*/
    
}
img {
 	height: 200px;
  	width: 150px;
}

/*ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }*/

li {
	font-size: 17x;
    line-height: 30px
}

/*.game {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
}*/

.name {
	color: rgb(255,0,0);
}

.bullet {
      display: inline-block;
      padding: 0px 10px 0px 10px;
  /*    font-size: 50px;*/
}

.card {
	height: 200px;
	width: 150px;
	border: 3px solid black;
	background: white;
	border-radius: 10px;
	margin: 8%;
	float: right;
	/*align-items: center;*/
}

.board {
	/*position: center;*/
    height: 50%;
    width: 50%;
 	/*outline: 5px solid black;*/
 	/*box-sizing:border-box;*/
    display: inline-block;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*#content {
	width: 950px;
	margin-right: auto;
    margin-left: auto;	
}*/

/*#id {

	margin-left: auto;
    margin-right: auto;
}*/

